name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

env:
  global_env: global

jobs:
  sys_info:
    runs-on: ubuntu-latest
    env:
      local_env: job
    steps:
      - name: check tools
        run: g++ -v
    
  build:
    runs-on: ubuntu-latest
    needs: sys_info
#    env:
#      local_env: job_print_env
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: g++ main.cpp -o app_${{ImageOS}}
      
  test:
    runs-on: ubuntu-latest
    needs: [build, sys_info]
    steps:
      - name: run_test
        run: sleep 20
    
  
